<%= image_tag post.image, class: "h-auto max-w-full max-h-96 mx-auto" %>

<%= form_for post, url: publish_post_posts_path, method: :post, data: { create_post_target: 'form' } do |f| %>
  <%= f.hidden_field :id, value: post.id %>
  <div class="grid gap-4 sm:gap-6">
    <div class="mt-4">
      <%= render Forms::LabelComponent.new(form: f, method: :body) %>
      <%= render Forms::TextareaComponent.new(form: f, method: :body) %>
      <%= render Forms::ErrorsComponent.new(resource: post, method: :body) %>
    </div>

    <div class="mt-4">
      <%= f.fields_for :tags do |tags| %>
        <% Tag.all.each do |tag| %>
          <div class="inline-flex">
            <%= tags.check_box tag.id, class: 'hidden peer' %>
            <%= tags.label tag.id, tag.name, class: 'inline-flex items-center px-3 py-1.5 mt-4 mr-2 text-sm font-medium text-gray-700 bg-gray-100 rounded-full cursor-pointer border-2 peer-checked:border-primary-700 peer-checked:bg-primary-700 peer-checked:text-white' %>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="mt-4">
      <label for="countries" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Wybierz miejsce
        odbioru</label>
      <select id="countries" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        <option selected>Wybierz miejsce odbioru</option>
        <option value="US">Śmietniki przy ul. Wrocławskiej</option>
        <option value="CA">Ul. Bema 1</option>
        <option value="FR">Pod sklepem Żabka</option>
      </select></div>
  </div>

  <hr class="h-px my-8 bg-gray-200 border-0 ">

  <div class="mt-4 flex items-center justify-between">
    <%= f.submit 'Zapisz szkic', class: 'py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200' %>
    <%= f.submit 'Opublikuj post na FB', class: 'text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2' %>
  </div>
<% end %>
