<%= content_tag :section, class: 'mx-auto max-w-screen-xl', data: { controller: 'create-post' } do %>
  <div class="py-8 px-4 max-w-2xl lg:py-16">
    <%= form_for post, url: attach_image_posts_path, data: { create_post_target: 'form' } do |f| %>
      <div id="post_image_input_container" class="grid gap-4 sm:grid-cols-2 sm:gap-6">
        <div class="sm:col-span-2">
          <%= render Forms::LabelComponent.new(form: f, method: :image) %>
          <%= render Forms::FileComponent.new(form: f, method: :image) %>
          <p class="mt-1 text-sm text-gray-500">PNG, JPG</p>
          <%= render Forms::ErrorsComponent.new(resource: post, method: :image) %>
        </div>
      </div>
      <%= f.submit class: 'hidden inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-primary-700 rounded-lg focus:ring-4 focus:ring-primary-200 hover:bg-primary-800' %>
      <%= render partial: 'posts/form_skeleton' %>
    <% end %>
  </div>
<% end %>
